drop {padding:1px;}
section {line-height:20px; background-color:#eeeeee;height:50px;width:70px;float:right; padding:1px;}
nav {text-align:center; padding:150px;}
footer {background-color:orange; color:white; clear:both; text-align:center; padding:1px;}
con {float:right; width:110px; padding:5px;}
